<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.car_dashboard">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.chaquo.python.android.PyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarDashboard">
        <activity
            android:name=".AddUserActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".UsersActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".FaceAddActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".PinActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".SignUpActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_MFFLNL-m2JOwi6qhhQsYbt72TzjnMSc" />
    </application>

</manifest>